body {
  font-family: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: #fff0f7;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    flex: 1; 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: #ffb6d9;
  padding: 20px;
}

header h1 {
  margin: 0;
  color: #ffffff;
}

.inner {
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:14px 0;
}

.logo { 
  width:60px; 
  height:60px; 
  object-fit:cover; 
  border-radius:8px; 
  margin-right:10px; 
}

.brand { 
  display:flex; 
  align-items:center; 
  text-decoration:none; 
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  padding:8px 6px;
}

nav a:hover {
  text-decoration: none;
  background-color:#b8588b;
  padding:8px 6px; 
  border-radius:8px;
  
}

section {
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 5px;
}

.gallery img {
  width: 200px;
  margin: 5px;
  border-radius: 10px;
}

.button {
  background-color: #d16ba5;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #b8588b;
}

footer {
  background-color: #ffb6d9;
  color: #d16ba5;
  padding: 15px 0;
  margin-top: 20px;
  text-align: center;
  margin-top: auto;
}

